.text-formatting {
  word-break: break-word;
  text-align: center;
  position: relative;
  border-radius: 9px;
  padding: 24px;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  /*margin-bottom: 24px;
  margin-left: 160px;
  margin-right: 160px;}*/
}
.container {
  min-width: 800px;

  display: block;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.main {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  color: #140e25c9;
  font-size: 75px;

  font-family: "Cookie", cursive;
  font-family: "Yellowtail", cursive;
  text-align: center;
  text-shadow: 5px 5px 10px;
}
.pre-main {
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  color: #140e25c9;
}
.impala {
  opacity: 0.7;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about {
  margin-top: 10px;

  font-size: 33px;
  text-align: justify;
  color: #140e25a9;
  font-family: Arial, sans-serif;
  font-style: normal;
  line-height: 1.4;

  padding-left: 60px;
  padding-right: 60px;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
button {
  font-size: 28px;
  width: 315.975px;
  height: 65.975px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
button:hover {
  width: 320.975px;
  height: 70.975px;
  background-image: linear-gradient(to top, #9890e3 20%, #b1f4cf8a 80%);
}
a {
  font-size: 25px;
  margin-right: 20px;
  color: #fff;
}
.fio {
  text-align: right;
  font-size: 22px;
  color: #fff;
  font-family: monospace;
  margin-bottom: 0px;
  margin-top: 35px;
}
